# Copy this file to .env.dev and paste credentials from providers.
Authentication__Google__ClientId=
Authentication__Google__ClientSecret=
Authentication__Discord__ClientId=
Authentication__Discord__ClientSecret=
Authentication__Telegram__BotToken=
NEXT_PUBLIC_TELEGRAM_BOT_USERNAME=
Cors__Origins__0=http://localhost:3000
Cors__Origins__1=https://your-frontend.ngrok-free.dev
NEXT_PUBLIC_SERVER_URL_HTTP=
BACKEND_INTERNAL_URL=http://backend_ibcraft:8080
