.button {
    display: flex;
    text-decoration: none;
    color: #fff;
    background-color: var(--buttonscolor);
    font-size: 17px;
    font-weight: bold;
    border-radius: 30px;
    gap: 10px;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
    align-items: center;
}

.padding {
    padding: 16px 40px;
}

.button:hover {
    background-color: var(--buttonhovercolor);
}

.buttonOption {
    display: flex;
    position: relative;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    border-radius: 40px;
    transition: 0.5s;
    font-size: 29px;
    border: #fff solid 2px;
    fill: #fff;
    gap: 10px
}

.buttonOption:hover {
    background-color: #fffafa;
    color: rgb(0, 0, 0);
    fill: black;
}

.disabled_btn {
    background-color: #d3d3d3;
    color: #000;
    cursor: not-allowed;
    pointer-events: none;
}