{
    "trailingComma": "none",
    "tabWidth": 4,
    "useTabs": true,
    "semi": false,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "arrowParens": "avoid",
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrder": [
      "<THIRD_PARTY_MODULES>",
      "^@core/(.*)$",
      "^@server/(.*)$",
      "^@ui/(.*)$",
      "^@app/(.*)$",
      "^@shared/(.*)$",
      "^@env/(.*)$",
      "^@/(.*)$",
      "^\\./(.*)$"
    ]
}